input:is(::-webkit-outer-spin-button, ::-webkit-inner-spin-button) {
  -webkit-appearance: none;
}

#configuration {
  padding: 1rem;
  display: flex;
  column-gap: 10px;
}

#population table {
  width: 50%;
  height: 50%;
}

#population td {
  background: #fff;
}

#population td.alive {
  background: #000;
}
